---
layout: home
---
<div>
    <address>
        <img src="/images/avatar.jpg" class="big-avatar">
        <p>
            <span class="muted"> <br/>--<br/>"Live in Shanghai,will code for bananas.<br>Like free, programming, money, stock, jewelry, snooker &amp; girl."</span>
        </p>
    </address>
</div>
<div class="home">
  <h1 class="page-heading">Latest News {{ paginator.total_posts }}</h1>
  <ul class="post-list">
    {% for post in paginator.posts %}
      {% if post.category != 'works' && paginator.page == 1 %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
      {% endif %}
    {% endfor %}
  </ul>
  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
</div>
