---
layout: home
---
<div>
    <address>
        <img src="/images/avatar.jpg" class="big-avatar">
        <p>
            <span class="muted"> <br/>--<br/>"Live in Shanghai,will code for bananas.<br>Like free, programming, money, stock, jewelry, snooker &amp; girl."</span>
        </p>
    </address>
</div>
<div class="home">
  <h1 class="page-heading">Top 5 News</h1>
  <ul class="post-list">
    {% for post in site.posts limit:5 %}
      <li>
        <a class="post-link" href="{{ post.url }}">{{ post.title }}</a>
      </li>

<!--      {% if post.category == 'top' %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
      {% endif %}-->
    {% endfor %}
  </ul>
<!--  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>-->
</div>
