<div id="panel">
    <section class="panel-main">
        <aside id="sidebar">
            <section class="panel-active">
                <a href="/" title="查看所有文章">
                    <i class="fa fa-file-archive-o"></i>
                    " 最近发表"
                </a>
                <span title="文章总数">{{ site.posts.size }}</span>
                <ul>
                    {% for post in paginator.posts limit:5 %}
                        {% if post.category != 'works' %}
                            <li><a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </section>
            <section>
                <a href="/" title="查看所有分类">
                    <i class="fa fa-folder-open"></i>
                    " 文章分类"
                </a>
                <span title="分类总数">{{ site.categories.size }}</span>
                <ul>
                    {% for category in site.categories %}
                    <li><a href="/" title="{{ category | first }}">{{ category | first }} ({{ category | last | size }})</a></li>
                    {% endfor %}
                </ul>
            </section>
            <section>
                <a href="/" title="查看所有标签">
                    <i class="fa fa-tags"></i>
                    " 标签分类"
                </a>
                <span title="标签总数">{{ site.tags.size }}</span>
                {% for tag in site.tags %}
                {% assign temp = tag[1].size | minus: min | times: 36 | divided_by: diff %}
                {% assign base = temp | divided_by: 4 %}
                {% assign remain = temp | modulo: 4 %}
                {% if remain == 0 %}
                {% assign size = base | plus: 9 %}
                {% elsif remain == 1 or remain == 2 %}
                {% assign size = base | plus: 9 | append: '.5' %}
                {% else %}
                {% assign size = base | plus: 10 %}
                {% endif %}
                {% if remain == 0 or remain == 1 %}
                {% assign color = 9 | minus: base %}
                {% else %}
                {% assign color = 8 | minus: base %}
                {% endif %}
                <a href="/" style="font-size: {{ size }}pt; color: #{{ color }}{{ color }}{{ color }};">{{ tag[0] }}</a>
                {% endfor %}
            </section>
        </aside>
    </section>
</div>