.panel-body {
  width: 300px;
  height: auto;
  padding: 20px 0;
  float: right;
  font-size: 116%;
  margin-top: 80px;
  // Positioning context for the mobile navigation icon
  position: relative;
}

.panel-main{
  width:100%;
  float:left;
  margin:20px 0;
  overflow:hidden;
  -webkit-box-shadow:2px 2px 12px #787878;
  box-shadow:2px 2px 12px #787878;
  border-radius:3px;
  background:#e6e6e6;
}